.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(98, 50, 119);
}

.upper-container {
  height: 30%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.lower-container {
  height: 70%;
  width: 100%;

  background-color: rgb(255, 243, 224);
  overflow-x: auto;

  display: flex;
  justify-content: center;
}
